<%= button_to '创建', {controller: 'business', action: 'new'}, method: :get, class: 'btn btn-secondary btn-sm' %>

<style>
  .card-block {
      margin: 20px;
  }
  .ly-list {
    max-height: 500px;
    overflow-y:auto;
  }
</style>
<table class="table table-striped">
  <thead class="bg-primary">
  <tr>
    <th width="320">商家ID</th>
    <th>名称</th>
  </tr>
  </thead>
  <tbody>
  <% @businesses.each do |business| %>
    <tr>
      <td><%= business.id %></td>
      <td><%= link_to business.name, controller: "business", action: "show", id: business.id %></td>
    </tr>
  <% end%>
  </tbody>
</table>
<div style='text-align: center;'><%= paginate @businesses %></div>
