<div class='chat'>
  <div class='sidebar'>
    <div class='user-list'>
      <ul class='ul-list' style='list-style: none;'>
        <% @users.each do |u| %>
            <li class='li-list' data-uid="<%= u.id %>">
              <p class='name'><%=u.name%></p>
            </li>
        <%end%>
      </ul>
    </div>
  </div>
  <div class='main-messages'>
    <div class='messages'>
      <ul class='message'></ul>
    </div>
    <div class='inputs'>
      <form>
        <textarea disabled data-behavior='room_speaker' placeholder="按 Enter 发送"></textarea>
      </form>
      
    </div>
  </div>
</div>

<script>
    $(function () {  
        $('ul.ul-list li').each(function () {  
            $(this).click(function(){
              $(".messages").scrollTop($(".messages")[0].scrollHeight);
              $('textarea').removeAttr('disabled');
              $.get(
                  "<%= messages_customer_service_business_chats_path(params[:business_id])  %>",
                  {user_id: $(this).data('uid')},
                  function(data){
                    $('ul.message').empty();
                      $.each(data, function(index,item){
                          $('ul.message').append("<li><div class='message-content'>"+ item.content +"</div></li>")
                      })
                  }
              );
        });  
    });
    });
</script>
