<div class='messages'>
    <ul class='message'><%= render @messages %></ul>
</div>
<label hidden class='business_id'><%= params[:business_id]%></label>
<label hidden class='user_id'><%= params[:id]%></label>
<form>
    <input type='text' data-behavior='room_speaker' style='width:600px;' class="form-control" placeholder='回复：'>
</form>
<script>
    $(document).ready(function(){
        $(".messages").scrollTop($(".messages")[0].scrollHeight);
    });
</script>