<style>
.power-off {
  margin-top: 10px;
  margin-right: 20px;
}
</style>
<header class="navbar navbar-light navbar-static-top bd-navbar">
  <div>
    <nav>
      <%= image_tag 'logo.png', width: '120', class:'navbar-brand' %>
      <div><h3 class="navbar-brand">客服系统</h3></div>
      <div flex></div>
      <% if service_signed_in? %>
        <div class="pull-xs-right power-off">
          <%= form_tag(destroy_service_session_path, method: 'delete') do %>
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="fi-power"></i>
            </button>
          <% end %>
        </div>
      <% end %>
    </nav>
  </div>
</header>
