<style>
.sidebar {
  margin-top: 30px;
  border-right: solid 1px black;
}
</style>
<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link active" href="#">用户</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">商家</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">入驻申请</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">预约</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">留言</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">广告</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">首页列表</a>
    </li>
  </ul>
</div>
