<style>
.nav-sidebar {
  margin-left: 15px;
  margin-right: -25px;
  margin-top: 20px;
}
</style>
<ul class="nav nav-sidebar nav-pills nav-stacked ">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:controller] == 'customer_service/user' %>" href="/customer_service/users">用户</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:controller] == 'customer_service/business' %>" href="/customer_service/businesses">商家</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">入驻申请</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">预约</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">留言</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">广告</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">首页列表</a>
  </li>
</ul>
