/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'foundation-icons';

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.chat {
    margin: 20px auto;
    overflow: hidden;
    border-radius: 3px;
    height: 600px;
    width: 800px;
  }
  .chat .sidebar {
    float: left;
    width: 200px;
    color: #f4f4f4;
    background-color: #2e3238;
    height: 100%;
    overflow-y: auto;
    ul {
      li.active {
        background-color: hsla(0,0%,100%,.1);
      }
    }
  }
    .ul-list {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .li-list {
      padding: 9pt 15px;
      border-bottom: 1px solid #292c33;
      cursor: pointer;
      -webkit-transition: background-color .1s;
      transition: background-color .1s;

      .name {
        vertical-align: middle;
      }
    }
  .main-messages {
    position: relative;
    overflow: hidden;
    background-color: #eee;
    height: 100%;
    padding: 10px 15px;
  }
  .main-messages .messages {
    height: calc(100% - 10pc);
    overflow-y: scroll;
  }
  .inputs {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 10pc;
    border: 1px solid #ddd;
    textarea {
      padding: 10px;
      height: 158px;
      width: 598px;
      border: none;
      outline: 0;
      font-family: Micrsofot Yahei;
      resize: none;
    }
  }

.message {
  li {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 16px 40px 16px 20px;
    margin: 0 0 20px 0;
    font: 16px 'Noto Sans', sans-serif;
    border-radius: 10px;
  }
  li.right {
    float: right;
    background-color: #0EC879;
  }
  li.left {
    left: -52px;
    float: left;
    background-color: #fff;
  }  
}